name: elearning_web
description: E-learning Flutter Web
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  http: ^1.2.0
  file_picker: ^5.2.5
  http_parser: ^4.0.0
  video_player: ^2.6.0
  url_launcher: ^6.1.7
  iconsax: ^0.0.8
  google_fonts: ^6.1.0
  fl_chart: ^1.1.1
  shared_preferences: ^2.5.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
